.div-home{
  padding-top: 105px;
  background-color: #00b9b4;
  height: 650px;
}
.div-instituto{
  background: url('../images/bg2.jpg') no-repeat top center;
  background-size: cover;
  background-color: white;
  color: #7b7b7b;
}
.div-especialidades{
  background: url('../images/bg3.jpg') no-repeat top center;
  background-size: cover;
  height: 1005px;
}
.div-profissionais{
  background: url('../images/bg4.jpg') no-repeat top center;
  background-size: cover;
  height: 693px;
}
.div-parceiros{
  background: url('../images/bg5.jpg') no-repeat top center;
  background-size: cover;
  height: 981px;
}
.div-contato{
  padding: 20px 0;
  background-color: white;
}
.div-instituto h2{
  font-family: 'Avenir-Heavy';
  margin-bottom: 5%;
}
.div-instituto p{
  color: #9d9d9d;
  font-size: 18px;
  margin: 50px 0;
}
.div-instituto h3 a, .div-instituto h3 a:visited, .div-instituto h3 a:hover{
  color: #10bab4;
  font-family: 'Avenir-Medium';
  font-weight: bold;
  font-size: 26px;
  display: block;
}

.div-especialidades h2{
  font-family: 'Avenir-Heavy';
  padding-top: 20px;
  color: white;
  text-shadow: 1px 1px 1px #eee;
  margin: 20px 0;
}
.div-especialidades .media{
  padding-top: 10%;
}
.div-especialidades .media-heading{
  color: white;
  font-weight: bold;
}
.div-especialidades .media-body p{
  color: white;
}

.div-profissionais{
  color: #10AB9D;
}
.div-profissionais h2{
  padding-top: 50px;
  font-family: 'Avenir-Heavy';
  margin-top: 10px;
}
.div-profissionais h2{
  text-shadow: 1px 1px 1px #00b9b4;
}
.div-profissionais {
  font-size: 18px;
}

.div-parceiros {
  color: white;
}
.div-parceiros h2{
  padding-top: 25px;
  color: white;
  font-family: 'Avenir-Heavy';
  text-shadow: 1px 1px 1px #eee;
}
.div-parceiros p{
  font-size: 18px;
}

footer{
  height: 200px;
}
footer ul li{
  color: #7b7b7b;
}
footer ul li a{
  text-transform: uppercase;
  color: #00b9b4;
}
.text-indent{
  text-indent: -9999px;
}