.navbar{
  min-height: 125px;
}
.navbar-nav>li>a {
  line-height: 50px;
}
.navbar-custom.nav-dark {
  background-color: #FFFFFF;
}
.navbar-custom .navbar-nav li:hover, .navbar-custom .navbar-nav li:focus, .navbar-custom .navbar-nav li:active, .navbar-custom .navbar-nav li:after  {
  background-color: #00B9b4;
}
.navbar-custom .navbar-nav li a {
  color: #00B9b4;
}
.navbar-custom .navbar-nav li.active a {
  color: #00B9B4;
  font-weight: bold;
  background: transparent;
}
.navbar-custom .navbar-nav li a:hover, .navbar-custom .navbar-nav li a:focus, .navbar-custom .navbar-nav li a:after {
    background: transparent;
    color: white;
    font-weight: bold;
}

.bottom-footer {
  color: black;
    background: #FFF;
    padding: 10px 0;
}
.bottom-footer a{
  color: #00B9B4;
}