@import url("../css/animate/animations.css");

body{
  font-family: 'Avenir-Regular';
}
.navbar{
  min-height: 125px;
  font-family: 'DIN-Condensed-Bold';
  font-size: 20px;
}
.navbar-brand{
  width: 227px;
  height: 85px;
}
.navbar-nav>li>a {
  line-height: 50px;
}
.navbar-custom.nav-dark {
  background-color: #FFFFFF;
}
.navbar-custom.navbar-right li a {
  font-size: 20px;
}
.navbar-custom .navbar-nav li:hover, .navbar-custom .navbar-nav li:focus, .navbar-custom .navbar-nav li:active, .navbar-custom .navbar-nav li:after  {
  background-color: #00B9b4;
  font-size: 20px;
  -webkit-animation: fadeIn 1000ms ease;
  -moz-animation: fadeIn 1000ms ease;
  -ms-animation: fadeIn 1000ms ease;
}
.navbar-custom .navbar-nav li a {
  color: #00B9B4;
}
a:active,
a:visited {
  color: #00B9B4;
}
.navbar-custom .navbar-nav li.active a {
  color: #00B9B4;
  font-weight: bold;
  background: transparent;
  -webkit-animation: fadeIn 2000ms ease;
  -moz-animation: fadeIn 2000ms ease;
  -ms-animation: fadeIn 2000ms ease;
}
.navbar-custom .navbar-nav li a:hover, .navbar-custom .navbar-nav li a:focus, .navbar-custom .navbar-nav li a:after {
  background: transparent;
  color: white;
  font-weight: bold;
}
.link-box{
  border-radius: 10px;
  border: 2px solid #00B9B4;
  display: inline-block;
  margin-top: 10px;
  padding: 12px;
}
.bottom-footer {
  color: #9D9D9D;
  background: #FFF;
  padding: 10px 0;
}
.bottom-footer a{
  color: #00B9B4;
}
.slide-inicial{
  background-color: #00b9b4;
}
.especialties{
  background: url('../images/bg3.jpg') no-repeat top center;
}
.welcome{
  background: url('../images/bg2.jpg') no-repeat top center;
  min-height: 605px;
}
.partners{
  background: url('../images/bg5.jpg') no-repeat top center;
  min-height: 880px;
  background-size: cover;
}
.icon-box img {
  border: 1px solid #00B9B4;
  border-radius: 50%;
}
.section-heading.dark {
  color: white;
  text-shadow: none;
}
.footer {
  border-top: 1px solid #00B9B4;
  background: white;
}
.footer a {
  color: #00B9B4;
}
.footer p {
  color: #9d9d9d;
}
.footer h3 {
  color: #00B9B4;
}
ul.social-link li a {
  color: #00B9B4;
}
/*
* Section for home texts
*
*/
.welcome-text h1{
  color: #00B9B4;
}
.welcome-text > p:first-of-type{
  color: #00B9B4;
}
.welcome-text p{
  color: #9D9D9D;
}
#owl-home .owl-theme .owl-controls .owl-page span {
  background: white;
}
/*
* Section for especialties texts
*
*/
.especialties h2, .especialties h3, .especialties p{
  color: white;
  padding: 0;
  margin-bottom: 0;
}
.icon-box {
  padding: 0;
}
.icon-spin:hover{
  -webkit-animation: iconSpin 1000ms ease;
  -moz-animation: iconSpin 1000ms ease;
  -ms-animation: iconSpin 1000ms ease;
}
/*
* Section for Professionals
*/
.professionals h2, .professionals p{
  color: #00B9B4;
  padding: 0;
}
.container-med h3, .container-med strong{
  color: #00B9B4;
}
.container-med p{
  color: #9d9d9d;
}
/*
* Section for Gallery Style
*/
.container-gallery p{
  color: #9D9D9D;
}
/*
* Section for partners
*/
.partners h2, .partners p{
  color: white;
  padding: 0;
}
.partners p{
  font-size: 18px;
  padding: 20px 0;
}
.partners h3{
  color: white;
}
.partners .btn-info {
  color: #fff;
  background-color: #00B9B4;
  border-color: #00B9B4;
}
.partners .btn-info:hover {
  color: #fff;
  background-color: #10AB9D;
  border-color: #10AB9D;
}
/*
* paginas internas
*/
.contact-form .btn-info {
  color: #fff;
  background-color: #00B9B4;
  border-color: #00B9B4;
}
.contact-form .btn-info:hover {
  color: #fff;
  background-color: #10AB9D;
  border-color: #10AB9D;
}
.page-header{
  background: #00B9B4 !important;
  border: none;
}
.page-header h1{
  vertical-align: middle;
}
.alphagroup-intern h1, .alphagroup-intern h2, .alphagroup-intern h3{
  color: #00B9B4;
}
.alphagroup-intern p{
  color: #9D9D9D;
}
.team-info h3, .team-info strong, .contact-us h3 {
  color: #00B9B4;
}
.team-info p, .contact-us p{
  color: #9D9D9D;
}
.alphagroup-bg{
  background-image: url('../images/alphagroup_background.png');
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 750px;
}
.alphagroup-bg h1{
  margin-top: 150px;
  color: white
}
.alphagroup-bg p{
  color: white;
}
.form-control.dark {
  color: #10AB9D;
  background-color: #fff;
  border: 2px solid #10AB9D;
}
.has-error .form-control.dark,
.has-error .form-control:focus.dark {
  border-color: #10AB9D;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: #ffffff;
}
#contactForm .controls label{
  color: #10AB9D;
}
.address h3, .social h3, .address li, .social li i{
  color: #00B9B4;
}