body{
  font-family: 'Avenir-Regular';
}
.navbar{
  min-height: 125px;
  font-family: 'DIN-Condensed-Bold';
}
.navbar-nav>li>a {
  line-height: 50px;
}
.navbar-custom.nav-dark {
  background-color: #FFFFFF;
}
.navbar-custom .navbar-nav li:hover, .navbar-custom .navbar-nav li:focus, .navbar-custom .navbar-nav li:active, .navbar-custom .navbar-nav li:after  {
  background-color: #00B9b4;
}
.navbar-custom .navbar-nav li a {
  color: #00B9b4;
}
.navbar-custom .navbar-nav li.active a {
  color: #00B9B4;
  font-weight: bold;
  background: transparent;
}
.navbar-custom .navbar-nav li a:hover, .navbar-custom .navbar-nav li a:focus, .navbar-custom .navbar-nav li a:after {
  background: transparent;
  color: white;
  font-weight: bold;
}
.bottom-footer {
  color: #9D9D9D;
  background: #FFF;
  padding: 10px 0;
}
.bottom-footer a{
  color: #00B9B4;
}
.slide-inicial{
  background-color: #00b9b4;
}
.especialties{
  background: url('../images/bg3.jpg') no-repeat top center;
  background-size: cover;
}
.welcome{
  background: url('../images/bg2.jpg') no-repeat top center;
  min-height: 605px;
}
.partners{
  background: url('../images/bg5.jpg') no-repeat top center;
  min-height: 880px;
  background-size: cover;
}
.icon-box img {
  border: 1px solid #00B9B4;
  border-radius: 50%;
}
.section-heading.dark {
  color: white;
  text-shadow: none;
}
.footer {
  border-top: 1px solid #00B9B4;
  background: white;
}
.footer a {
  color: #00B9B4;
}
.footer p {
  color: #9d9d9d;
}
.footer h3 {
  color: #00B9B4;
}
ul.social-link li a {
  color: #00B9B4;
}
/*
* Section for home texts
*
*/
.welcome-text h1{
  color: #00B9B4;
}
.welcome-text > p:first-of-type{
  color: #00B9B4;
}
.welcome-text p{
  color: #9D9D9D;
}
/*
* Section for especialties texts
*
*/
.especialties h2, .especialties h3, .especialties p{
  color: white;
}
/*
* Section for Professionals
*/
.professionals h2, .professionals p{
  color: #00B9B4;
}
/*
* Section for partners
*/
.partners h2, .partners p{
  color: white;
}