body{
  font-family: 'Avenir-Regular';
}
.font-title{
  font-family: 'DIN-Condensed-Bold';
}
.green-text{
  color: #00b9b4 !important;
}
.grey-text{
  color: #9d9d9d;
}
.white-text{
  color: white;
}
.header-green{
  background-color: #00b9b4;
}
.navbar{
  margin-bottom: 0px;
  background-color: white;
  border-bottom: 1px solid #10ab9d;
  height: 105px;
}
.navbar-nav li a {
  text-transform: uppercase;
  line-height: 75px;
  padding-left: 25px;
  padding-right: 25px;
  color: #00b9b4;
  font-family: 'DIN-Condensed-Bold';
  font-size: 18px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  color: white;
  background-color: #10AB9D;
/*  -webkit-animation: moveFromBottom 300ms ease;
  -moz-animation: moveFromBottom 300ms ease;
  -ms-animation: moveFromBottom 300ms ease;*/
}
.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color: white;
  background-color: #10AB9D;
  font-weight: bold;
}
.carousel, .item, .active, .carousel-inner {
  height: 100%;
}
.fill {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
  overflow: hidden;
}
.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #10AB9D;
  border: 1px solid #10AB9D;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: inline-block;
}
.carousel-control.right, .carousel-control.left{
  background-image: none;
}
.arrow{
  width: 29px;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  top: 40%;
}
.arrow-left{
  background-image: url('../images/arrow-left.png');
  left: 30%;
}
.arrow-right{
  background-image: url('../images/arrow-right.png');
  right: 30%;
}
footer{
  height: 100px;
}
footer ul li{
  color: #7b7b7b;
}
footer ul li a{
  text-transform: uppercase;
  color: #00b9b4;
}
.text-indent{
  text-indent: -9999px;
}

/*index.php*/
.welcome-div{
  background-color: #00b9b4;
  height: 650px;
}
.div-instituto, .div-profissionais, .div-parceiros, .div-contato{
  background-color: white;
  background-size: cover;
  min-height: 605px;
}
.div-instituto{
  background: url('../images/bg2.jpg') no-repeat top center;
  color: #7b7b7b;
  height: 605px;
}
.div-especialidades{
  background: url('../images/bg3.jpg') no-repeat top center;
  height: 750px;
}
.div-profissionais{
  background: url('../images/bg4.jpg') no-repeat top center;
  min-height: 620px;
}
.div-parceiros{
  background: url('../images/bg5.jpg') no-repeat top center;
}
.div-contato{
  padding: 20px 0;
  border-top: 1px solid #00b9b4;
  min-height: 150px;
}

/* carrousel profissionais*/
#slideshow {
  margin: 50px auto;
  position: relative;
  padding: 10px;
}
#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.media-object:hover{
  -webkit-animation: iconSpin 1000ms ease;
  -moz-animation: iconSpin 1000ms ease;
  -ms-animation: iconSpin 1000ms ease;
}
@media (min-width: 1px) and (max-width: 767px){
  .navbar-brand {
    height: 110px;
  }
  .navbar .navbar-toggle {
    border-color: #10AB9D;
    background-color: #10AB9D;
  }
  .navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
  .navbar-nav li a {
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
    color: #00b9b4;
    line-height: 15px;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
    background-color: white;
  }
  .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: white;
    background-color: #10AB9D;
  }
  footer ul li{
    text-align: center;
  }

}

@-webkit-keyframes iconSpin{
  from{
    -webkit-transform: perspective(400px) rotateY(0deg);
  }
  to{
    -webkit-transform: perspective(400px) rotateY(360deg);
  }
}
@-moz-keyframes iconSpin{
  from{
    -moz-transform: perspective(400px) rotateY(0deg);
  }
  to{
    -moz-transform: perspective(400px) rotateY(360deg);
  }
}@-ms-keyframes iconSpin{
  from{
    -ms-transform: perspective(400px) rotateY(0deg);
  }
  to{
    -ms-transform: perspective(400px) rotateY(360deg);
  }
}



@-webkit-keyframes moveFromLeft{
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes moveFromLeft{
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(0%);
  }
}
@-ms-keyframes moveFromLeft{
  from {
    -ms-transform: translateX(-100%);
  }
  to {
    -ms-transform: translateX(0%);
  }
}

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(0%);
  }
}
@-ms-keyframes moveFromRight {
  from {
    -ms-transform: translateX(100%);
  }
  to {
    -ms-transform: translateX(0%);
  }
}

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0%);
  }
}
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(100%);
  }
  to {
    -ms-transform: translateY(0%);
  }
}